@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.nav {
  width: 84%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.nav__logo .normal {
  display: inline-block;
}
.nav__logo .secondary {
  display: none;
  position: fixed;
  top: 35px;
  z-index: 920;
}
.nav__ul {
  display: none;
}
.nav__ul-active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  text-align: center;
  padding: 85px 0;
  text-transform: uppercase;
  background-color: hsla(229deg, 31%, 21%, 0.95);
}
.nav__ul-active li {
  color: white;
  font-size: 18px;
  padding: 20px 0;
  border-top: 1px solid hsl(229deg, 8%, 60%);
  width: 84%;
  margin: 0 auto;
}
.nav__ul-active li:nth-child(3) {
  border-bottom: 1px solid hsl(229deg, 8%, 60%);
}
.nav__ul-active li:last-child {
  margin-top: 20px;
  border-radius: 8px;
  border: 2px solid white;
  padding: 10px 0;
  font-weight: 500;
}
.nav__social {
  display: none;
  position: fixed;
  justify-content: center;
  width: 84%;
  bottom: 30px;
  z-index: 920;
}
.nav__social img:first-child {
  margin-right: 50px;
}
.nav__buttons .btn-open {
  display: inline-block;
}
.nav__buttons .btn-close {
  display: none;
  position: fixed;
  right: 8%;
  top: 40px;
  z-index: 920;
}

@media screen and (min-width: 1024px) {
  .nav {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav__logo .normal {
    display: inline-block !important;
  }
  .nav__logo .secondary {
    display: none !important;
  }
  .nav__ul {
    display: flex;
    flex-direction: row;
    position: inherit;
    top: 0;
    width: auto;
    align-items: center;
    gap: 35px;
    height: auto;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    background-color: transparent;
  }
  .nav__ul li {
    color: hsl(229deg, 31%, 21%);
    font-size: 16px;
    padding: 0;
    border-top: none;
    width: 100%;
    margin: 0 auto;
  }
  .nav__ul li:hover {
    color: hsl(0deg, 94%, 66%);
    cursor: pointer;
  }
  .nav__ul li:nth-child(3) {
    border-bottom: none;
  }
  .nav__ul li:last-child {
    margin-top: 0;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 10px 30px;
    font-weight: 400;
    color: white;
    background-color: hsl(0deg, 94%, 66%);
    margin-right: 0;
  }
  .nav__ul li:last-child:hover {
    background-color: transparent;
    color: hsl(0deg, 94%, 66%);
    border: 2px solid hsl(0deg, 94%, 66%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .nav__buttons {
    display: none;
  }
}
.header {
  margin-top: 50px;
}
.header__container {
  margin: 0 auto;
}
.header__container .header__img {
  position: relative;
  width: 100%;
}
.header__container .header__img img {
  width: 100%;
  filter: drop-shadow(0px 5px 5px hsl(229deg, 31%, 21%));
}
.header__container .header__img .header_back {
  position: absolute;
  width: 85%;
  height: 75%;
  background-color: hsl(231deg, 69%, 60%);
  border-bottom-left-radius: 100px;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.header__container .header__info {
  width: 84%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.header__container .header__info .title {
  font-weight: 500;
  font-size: 32px;
  color: hsl(229deg, 31%, 21%);
  margin-bottom: 25px;
}
.header__container .header__info .paragraph {
  color: hsl(229deg, 8%, 60%);
  font-size: 16px;
  line-height: 1.7;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 315px;
}
.header__container .header__info .buttons {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  margin: 0 auto;
}
.header__container .header__info .buttons .btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: hsl(231deg, 69%, 60%);
  color: white;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header__container .header__info .buttons .btn-secondary {
  color: hsl(229deg, 31%, 21%);
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header__container .header__info .title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    margin-top: 100px;
  }
  .header__container {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .header__container .header__img img {
    filter: drop-shadow(0px 5px 5px hsl(229deg, 31%, 21%));
  }
  .header__container .header__info {
    text-align: left;
    margin-left: 8%;
  }
  .header__container .header__info .title {
    font-size: 42px;
    max-width: 430px;
  }
  .header__container .header__info .paragraph {
    margin: initial;
    margin-bottom: 35px;
    max-width: 430px;
  }
  .header__container .header__info .buttons {
    max-width: 325px;
    margin: initial;
  }
  .header__container .header__info .buttons .btn {
    border: 2px solid transparent;
  }
  .header__container .header__info .buttons .btn:hover {
    border: 2px solid hsl(231deg, 69%, 60%);
    background-color: transparent;
    font-weight: 500;
    color: hsl(231deg, 69%, 60%);
    cursor: pointer;
  }
  .header__container .header__info .buttons .btn-secondary:hover {
    border: 2px solid hsl(229deg, 31%, 21%);
    font-weight: 500;
    color: hsl(229deg, 31%, 21%);
  }
}
.feature {
  width: 84%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}
.feature__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  color: hsl(229deg, 31%, 21%);
}
.feature__paragraph {
  color: hsl(229deg, 8%, 60%);
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 50px;
  width: 315px;
}
.feature__infos {
  margin-bottom: 50px;
}
.feature__infos .info__p {
  padding: 20px 0;
  font-size: 16px;
  color: hsl(229deg, 8%, 60%);
  border-top: 1px solid hsl(229deg, 8%, 60%);
}
.feature__infos .info__p:hover {
  cursor: pointer;
}
.feature__infos .info__p:last-child {
  border-bottom: 1px solid hsl(229deg, 8%, 60%);
}
.feature__infos .info__p-active {
  color: hsl(229deg, 31%, 21%);
  font-weight: 500;
  position: relative;
}
.feature__infos .info__p-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30.5%;
  width: 125px;
  background-color: red;
  height: 3px;
}
.feature__article {
  display: none;
}
.feature__article-active {
  display: inline-block;
  width: 100%;
  margin-bottom: 100px;
}
.feature__article-active .article__img {
  position: relative;
}
.feature__article-active .article__img img {
  width: 100%;
  margin-bottom: 100px;
}
.feature__article-active .article__img .img_back {
  position: absolute;
  width: 85%;
  height: 70%;
  background-color: hsl(231deg, 69%, 60%);
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  left: -10%;
  bottom: 18.5%;
  z-index: -1;
}
.feature__article-active .article__title {
  color: hsl(229deg, 31%, 21%);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
}
.feature__article-active .article__paragraph {
  color: hsl(229deg, 8%, 60%);
  font-size: 15px;
  line-height: 1.5;
  width: 315px;
}
.feature__article-active .article-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .feature__title {
    font-size: 42px;
  }
  .feature__paragraph {
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .feature__infos .info__p-active::after {
    left: 40.5%;
  }
  .feature__article .article__paragraph {
    margin: 0 auto;
  }
  .feature__article-active .article__img .img_back {
    bottom: 10%;
  }
}
@media screen and (min-width: 1024px) {
  .feature__title {
    font-size: 42px;
  }
  .feature__paragraph {
    width: 450px;
  }
  .feature__infos {
    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid hsl(229deg, 31%, 21%);
  }
  .feature__infos .info__p {
    padding: 20px 63px;
    border-top: none;
  }
  .feature__infos .info__p:last-child {
    border-bottom: none;
  }
  .feature__infos .info__p:hover {
    color: hsl(0deg, 94%, 66%);
  }
  .feature__infos .info__p-active::after {
    left: 0;
    width: 100%;
  }
  .feature__article-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .feature__article-active .article__img {
    width: 45%;
  }
  .feature__article-active .article__img .img_back {
    width: 130%;
    left: -45%;
  }
  .feature__article-active .article__info {
    width: 45%;
    text-align: left;
  }
  .feature__article-active .article__info .article__title {
    font-size: 28px;
  }
  .feature__article-active .article__info .article__paragraph {
    width: 315px;
    max-width: 450px;
    margin: initial;
    margin-bottom: 35px;
  }
  .feature__article-active .article__info .article-btn {
    display: inline-block;
    border: 2px solid transparent;
    background-color: hsl(231deg, 69%, 60%);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
  }
  .feature__article-active .article__info .article-btn:hover {
    cursor: pointer;
    color: hsl(231deg, 69%, 60%);
    background-color: transparent;
    border: 2px solid hsl(231deg, 69%, 60%);
  }
}
.download {
  width: 100%;
}
.download__container {
  width: 84%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.download__container .title {
  font-size: 24px;
  color: hsl(229deg, 31%, 21%);
  font-weight: 500;
  margin-bottom: 35px;
}
.download__container .paragraph {
  color: hsl(229deg, 8%, 60%);
  font-size: 15px;
  line-height: 1.5;
  width: 315px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.download__container .cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.download__container .cards .card {
  width: 315px;
  height: 380px;
  padding: 25px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download__container .cards .card .card_img {
  margin-bottom: 35px;
}
.download__container .cards .card .add {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}
.download__container .cards .card .version {
  color: hsl(229deg, 8%, 60%);
  font-size: 15px;
  margin-bottom: 25px;
}
.download__container .cards .card img {
  margin-bottom: 25px;
}
.download__container .cards .card .card_btn {
  width: 250px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: hsl(231deg, 69%, 60%);
  color: white;
  font-weight: 500;
  font-size: 15px;
}

@media screen and (min-width: 1024px) {
  .download__container .title {
    font-size: 28px;
  }
  .download__container .paragraph {
    width: 450px;
  }
  .download__container .cards .card .card_btn {
    border: 2px solid transparent;
  }
  .download__container .cards .card .card_btn:hover {
    cursor: pointer;
    border: 2px solid hsl(231deg, 69%, 60%);
    background-color: transparent;
    color: hsl(231deg, 69%, 60%);
  }
}
@media screen and (min-width: 1200px) {
  .download__container .cards {
    height: 500px;
  }
  .download__container .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .download__container .cards .card:nth-child(1) {
    display: flex;
    align-self: flex-start;
  }
  .download__container .cards .card:nth-child(2) {
    display: flex;
    align-self: center;
  }
  .download__container .cards .card:nth-child(3) {
    display: flex;
    align-self: flex-end;
  }
}
.faq {
  width: 84%;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  text-align: center;
}
.faq__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}
.faq__paragraph {
  color: hsl(229deg, 8%, 60%);
  font-size: 15px;
  width: 315px;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 50px;
}
.faq__container {
  width: 100%;
  margin-bottom: 50px;
}
.faq__container .question_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(229deg, 8%, 60%);
}
.faq__container .question_data .ask {
  font-size: 15px;
}
.faq__container .question_data i {
  font-size: 40px;
  color: hsl(231deg, 69%, 60%);
  transition: all 400ms ease-in-out;
}
.faq__container .question_data .active {
  transform: rotate(180deg);
  color: hsl(0deg, 94%, 66%);
}
.faq__container .answer {
  display: none;
}
.faq__container .answer-active {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  text-align: left;
  color: hsl(229deg, 8%, 60%);
  line-height: 1.7;
}
.faq__btn {
  background-color: hsl(231deg, 69%, 60%);
  color: white;
  font-size: 15px;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form2 {
  background-color: hsl(231deg, 69%, 60%);
  text-align: center;
  color: white;
  padding: 50px 0;
}
.form2__paragraph {
  font-size: 14px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.form2__h3 {
  font-size: 24px;
  width: 315px;
  margin: 0 auto;
  font-weight: 500;
  margin-bottom: 35px;
}
.form2 form {
  display: flex;
  flex-direction: column;
  width: 84%;
  margin: 0 auto;
  gap: 15px;
  position: relative;
}
.form2 form input {
  padding: 15px;
  border-radius: 5px;
  border: none;
  color: hsl(229deg, 8%, 60%);
  z-index: 1;
}
.form2 form img {
  display: none;
}
.form2 form .error {
  display: block;
  width: 20px;
  right: 10px;
  margin-top: 12px;
  position: absolute;
  z-index: 1;
}
.form2 form .input-error {
  border: 2px solid hsl(0deg, 94%, 66%);
}
.form2 form input:focus {
  outline: none;
}
.form2 form .input__small {
  display: none;
}
.form2 form .email__error {
  display: block;
  width: 102%;
  height: 70px;
  background-color: hsl(0deg, 94%, 66%);
  text-align: left;
  margin-top: -63px;
  margin-left: -1%;
  font-size: 12px;
  padding: 8px;
  padding-top: 50px;
  border-radius: 5px;
}
.form2 form .form-btn {
  border: none;
  color: white;
  background-color: hsl(0deg, 94%, 66%);
  padding: 15px 0;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .form2__h3 {
    font-size: 30px;
  }
  .form2 .form {
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .form2 .form input {
    width: 60%;
  }
  .form2 .form .form-btn {
    padding: 15px 20px;
  }
  .form2 .form .email__error {
    position: absolute;
    width: 62%;
    margin-top: 0;
    margin-left: 0;
    left: 5.5%;
  }
  .form2 .form .error {
    right: 36%;
  }
}
@media screen and (min-width: 1024px) {
  .form2 .form .form-btn {
    border: 2px solid transparent;
  }
  .form2 .form .form-btn:hover {
    border: 2px solid hsl(0deg, 94%, 66%);
    background-color: white;
    color: hsl(0deg, 94%, 66%);
    cursor: pointer;
  }
}
.footer {
  background-color: hsl(229deg, 31%, 21%);
  padding: 35px 0;
  text-align: center;
}
.footer__container {
  width: 84%;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__container .links img {
  margin-bottom: 35px;
}
.footer__container .links .link-container {
  margin-bottom: 35px;
}
.footer__container .links .link-container ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer__container .social {
  display: flex;
  width: 125px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .footer__container .links {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
  }
  .footer__container .links img {
    margin-bottom: 0;
  }
  .footer__container .links .link-container {
    margin-bottom: 0;
  }
  .footer__container .links .link-container ul {
    flex-direction: row;
  }
  .footer__container .social {
    width: 20%;
    margin-bottom: 0;
    gap: 30px;
    justify-content: right;
  }
}/*# sourceMappingURL=style.css.map */