.faq{
    width: 84%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    text-align: center;

    &__title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    &__paragraph{
        color: $grayish-blue;
        font-size: 15px;
        width: 315px;
        line-height: 1.5;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    &__container{
        width: 100%;
        margin-bottom: 50px;

        .question_data{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $grayish-blue;

            .ask{
                font-size: 15px;

                &:hover{
                    cursor: pointer;
                    color: $soft-red;
                }
            }

            i{
                font-size: 40px;
                color: $soft-blue;
                transition: all 400ms ease-in-out;

                &:hover{
                    cursor: pointer;
                }
            }

            .active{
                transform: rotate(180deg);
                color: $soft-red;
            }
        }

        .answer{
            display: none;
        }

        .answer-active{
            display: block;
            margin-top: 15px;
            font-size: 15px;
            text-align: left;
            color: $grayish-blue;
            line-height: 1.7;
        }
    }

    &__btn{
        background-color: $soft-blue;
        color: white;
        font-size: 15px;
        padding: 15px 25px;
        border: 2px solid transparent;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &:hover{
            cursor: pointer;
            border: 2px solid $soft-blue;
            color: $soft-blue;
            background-color: transparent;
        }
    }
}