.feature{
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;

    &__title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
        color: $very-dark-blue;
    }

    &__paragraph{
        color: $grayish-blue;
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 50px;
        width: 315px;
    }

    &__infos{
        margin-bottom: 50px;

        .info__p{
            padding: 20px 0;
            font-size: 16px;
            color: $grayish-blue;
            border-top: 1px solid $grayish-blue;

            &:hover{
                cursor: pointer;
            }

            &:last-child{
                border-bottom: 1px solid $grayish-blue;
            }

        }

        .info__p-active{
            color: $very-dark-blue;
            font-weight: 500;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 30.5%;
                width: 125px;
                background-color: red;
                height: 3px;
            }
        }
    }

    &__article{
        display: none;
    }

    &__article-active{
        display: inline-block;
        width: 100%;
        margin-bottom: 100px;
        
        .article__img{
            position: relative;
            img{
                width: 100%;
                margin-bottom: 100px;
            }
            .img_back{
                position: absolute;
                width: 85%;
                height: 70%;
                background-color: $soft-blue;
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                left: -10%;
                bottom: 18.5%;
                z-index: -1;
            }
        }
        

        .article__title{
            color: $very-dark-blue;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 15px;
        }

        .article__paragraph{
            color: $grayish-blue;
            font-size: 15px;
            line-height: 1.5;
            width: 315px;
        }

        .article-btn{
            display: none;
        }
    }
}

@media screen and (min-width:768px) {
    .feature{
        &__title{
            font-size: 42px;
        }
        &__paragraph{
            margin: 0 auto;
            margin-bottom: 50px;
        }
        &__infos{
            .info__p-active{
    
                &::after{
                    left: 40.5%;
                }
            }
        }
        &__article{
            .article__paragraph{
                margin: 0 auto;
            }
        }

        &__article-active{
            
            .article__img{

                .img_back{
                    bottom: 10%;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .feature{
        &__title{
            font-size: 42px;
        }

        &__paragraph{
            width: 450px;
        }

        &__infos{
            max-width: 768px;
            margin: 0 auto;
            margin-bottom: 50px;
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid $very-dark-blue;
    
            .info__p{
                padding: 20px 63px;
                border-top: none;
    
                &:last-child{
                    border-bottom: none;
                }

                &:hover{
                    color: $soft-red;
                }
    
            }
    
            .info__p-active{
    
                &::after{
                    left: 0;
                    width: 100%;
                }
            }
        }

        &__article-active{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .article__img{
                width: 45%;

                .img_back{
                    width: 130%;
                    left: -45%;
                }
            }

            .article__info{
                width: 45%;
                text-align: left;

                .article__title{
                    font-size: 28px;
                }
        
                .article__paragraph{
                    width: 315px;
                    max-width: 450px;
                    margin: initial;
                    margin-bottom: 35px;
                }

                .article-btn{
                    display: inline-block;
                    border: 2px solid transparent;
                    background-color: $soft-blue;
                    color: white;
                    border-radius: 5px;
                    padding: 10px 20px;

                    &:hover{
                        cursor: pointer;
                        color: $soft-blue;
                        background-color: transparent;
                        border: 2px solid $soft-blue;
                    }
                }
            }
        }
    }
}