.footer{
    background-color: $very-dark-blue;
    padding: 35px 0;
    text-align: center;

    &__container{
        width: 84%;
        max-width: 1200px;
        margin: 0 auto;

        .links{
            img{
                margin-bottom: 35px;
            }

            .link-container{
                margin-bottom: 35px;

                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    color: white;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
        }

        .social{
            display: flex;
            width: 125px;
            margin: 0 auto;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 50px;

            i{
                font-size: 25px;
                color: white;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .footer{
        &__container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 50px;

            .links{
                display: flex;
                gap: 10%;
                align-items: center;
                justify-content: flex-start;
                width: 60%;

                img{
                    margin-bottom: 0;
                }

                .link-container{
                    margin-bottom: 0;
                    ul{
                        flex-direction: row;

                        li:hover{
                            color: $soft-red;
                            cursor: pointer;
                        }
                    }
                }
            }

            .social{
                width: 20%;
                margin-bottom: 0;
                gap: 30px;
                justify-content: right;

                i:hover{
                    color: $soft-red;
                    cursor: pointer;
                }
            }
        }
    }
}