.form2{
    background-color: $soft-blue;
    // margin: 0 auto;
    text-align: center;
    color: white;
    padding: 50px 0;

    &__paragraph{
        font-size: 14px;
        letter-spacing: 3.5px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__h3{
        font-size: 24px;
        width: 315px;
        margin: 0 auto;
        font-weight: 500;
        margin-bottom: 35px;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 84%;
        margin: 0 auto;
        gap: 15px;
        position: relative;

        input{
            padding: 15px;
            border-radius: 5px;
            border: none;
            color: $grayish-blue;
            z-index: 1;
        }

        img{
            display: none;
        }

        .error{
            display: block;
            width: 20px;
            right: 10px;
            margin-top: 12px;
            position: absolute;
            z-index: 1;
        }

        .input-error{
            border: 2px solid $soft-red;
        }

        input:focus{
            outline: none;
        }

        .input__small{
            display: none;
        }

        .email__error{
            display: block;
            width: 102%;
            height: 70px;
            background-color: $soft-red;
            text-align: left;
            margin-top: -63px;
            margin-left: -1%;
            font-size: 12px;
            padding: 8px;
            padding-top: 50px;
            border-radius: 5px;
        }

        .form-btn{
            border: none;
            color: white;
            background-color: $soft-red;
            padding: 15px 0;
            border-radius: 5px;
        }
    }
}

@media screen and (min-width:768px) {
    .form2{
        &__h3{
            font-size: 30px;
        }

        .form{
            max-width: 450px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            input{
                width: 60%;
            }

            .form-btn{
                padding: 15px 20px;
            }

            .email__error{
                position: absolute;
                width: 62%;
                margin-top: 0;
                margin-left: 0;
                left: 5.5%;
            }

            .error{
                right: 36%;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .form2{
        .form{
            .form-btn{
                border: 2px solid transparent;

                &:hover{
                    border: 2px solid $soft-red;
                    background-color: white;
                    color: $soft-red;
                    cursor: pointer;
                }
            }
        }
    }
}