.header{
    margin-top: 50px;

    &__container{
        margin: 0 auto;

        .header__img{
            position: relative;
            width: 100%;

            img{
                width: 100%;
                filter: drop-shadow(0px 5px 5px $very-dark-blue);
            }

            .header_back{
                position: absolute;
                width: 85%;
                height: 75%;
                background-color: $soft-blue;
                border-bottom-left-radius: 100px;
                right: 0;
                bottom: 0;
                z-index: -1;
            }
        }

        .header__info{
            width: 84%;
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;

            .title{
                font-weight: 500;
                font-size: 32px;
                color: $very-dark-blue;
                margin-bottom: 25px;
            }

            .paragraph{
                color: $grayish-blue;
                font-size: 16px;
                line-height: 1.7;
                margin: 0 auto;
                margin-bottom: 35px;
                width: 315px;
            }

            .buttons{
                display: flex;
                justify-content: space-between;
                max-width: 350px;
                margin: 0 auto;

                .btn{
                    width: 150px;
                    height: 50px;
                    border: 2px solid transparent;
                    border-radius: 5px;
                    background-color: $soft-blue;
                    color: white;
                    font-size: 15px;
                    font-weight: 500;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }

                .btn-secondary{
                    color: $very-dark-blue;
                    background-color: transparent;
                }

                .btn:hover{
                    border: 2px solid $soft-blue;
                    background-color: transparent;
                    font-weight: 500;
                    color: $soft-blue;
                    cursor: pointer;
                }

                .btn-secondary:hover{
                    border: 2px solid $very-dark-blue;
                    font-weight: 500;
                    color: $very-dark-blue;
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .header{
        &__container{
            .header__info{
                .title{
                    font-size: 42px;
                }
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .header{
        margin-top: 100px;

        &__container{
            margin: 0 auto;
            display: flex;
            flex-direction: row-reverse;

            .header__info{
                text-align: left;
                margin-left: 8%;
    
                .title{
                    font-size: 42px;
                    max-width: 430px;
                }
    
                .paragraph{
                    margin: initial;
                    margin-bottom: 35px;
                    max-width: 430px;
                }
    
                .buttons{
                    max-width: 325px;
                    margin: initial;
                }
            }
        }
    }
}